<app-header titulo="Resetear contraseña"></app-header>

<ion-content class="ion-padding">
  <p>
    Para solicitar el cambio de contraseña, por favor rellena tu email, y recibirás un email con la información
    necesaria para cambiar tu contraseña
  </p>

  <form>
    <ion-input type="email" #email fill="outline" label="Email" labelPlacement="stacked" required></ion-input>

    <ion-button type="button" expand="block" class="f-key pink" (click)="onResetPassword(email.value)">
      Solicitar el cambio de contraseña
    </ion-button>
  </form>
</ion-content>
