<app-header titulo="Resetear contraseña"></app-header>

<ion-content>
  <p class="ion-justify-content-between">
    Para solicitar el cambio de contraseña, por favor rellena tu email, y recibirás un email con la información
    necesaria para cambiar tu contraseña
  </p>

  <form>
    <ion-item lines="full">
      <ion-label position="floating">Email</ion-label>
      <ion-input type="text" #email required></ion-input>
    </ion-item>
    <ion-row>
      <ion-col>
        <ion-button type="button" (click)="onResetPassword(email.value)" expand="block"
          >Solicitar el cambio de contraseña</ion-button
        >
      </ion-col>
    </ion-row>
  </form>
</ion-content>
