<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="amigos" href="/tabs/amigos">
      <ion-icon name="people"></ion-icon>
      <ion-label>Amigos</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="sumar" href="/tabs/sumar">
      <ion-icon name="add-circle"></ion-icon>
      <ion-label>Sumar</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="estadisticas" href="/tabs/estadisticas">
      <ion-icon name="stats-chart"></ion-icon>
      <ion-label>Estadísticas</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
