ion-img {
  display: inline-block;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  height: 200px;
  padding: 20px;
}

.divider {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

ion-item.ion-invalid.ion-touched {
  border-bottom: 2px solid var(--ion-color-danger) !important;
}

ion-item.ion-valid.ion-touched {
  border-bottom: 2px solid var(--ion-color-success) !important;
}

.validator-error {
  color: red;
}
