<app-header titulo="{{group.data.name}}"></app-header>

<ion-content>
  <ion-button size="small" color="primary" (click)="showAlert()" class="ion-float-right ion-margin">Editar grupo</ion-button>
  <br>
  <br>
  <div class="contenedorNumeros contenedorTotal">
    <ion-text class="letrasTotal" color="warning">Total Grupo</ion-text>
    <ion-text class="letrasTotal" color="warning">Media Total Grupo</ion-text>
  </div>
  <div class="contenedorNumeros contenedorTotal">
    <ion-text color="warning">
      <h1 class="numeroTotal">{{ arrayColeccionFaps.length }}</h1>
    </ion-text>
    <ion-text color="warning">
      <h1 class="numeroTotal">{{ mediaGrupo | number : '1.0-0' }}</h1>
    </ion-text>
  </div>
  <div class="contenedorNumeros">
    <ion-text color="secondary">
      <p class="letras">Total Compañia</p>
      <h1 class="numero">{{ arrayCompania.length }}</h1>
    </ion-text>
    <ion-text color="primary">
      <p class="letras">Total Solitario</p>
      <h1 class="numero">{{ arraySolitario.length }}</h1>
    </ion-text>
    <ion-text color="secondary">
      <p class="letras">Media Compañia</p>
      <h1 class="numero">{{ mediaCompania | number : '1.0-0' }}</h1>
    </ion-text>
    <ion-text color="primary">
      <p class="letras">Media Solitario</p>
      <h1 class="numero">{{ mediaSolitario | number : '1.0-0' }}</h1>
    </ion-text>
  </div>
  <ion-searchbar placeholder="Buscar amigo"
                   (ionChange)="onSearchChange($event)"
                   inputmode="text"
                   animated
                   ></ion-searchbar>
  <ion-item-sliding *ngFor="let user of users | filtro:textoBuscar:'data.email'; let i = index" [attr.data-index]="i">
    <ion-item  button>
      <ion-avatar slot="start">
        <img *ngIf="user.data.photoURL !== null" [src]="user.data.photoURL" />
        <img *ngIf="user.data.photoURL === null" src="../../assets/icon-user.svg" />
      </ion-avatar>
      <ion-img *ngIf="i === 0" class="podium" src="../../assets/groups/1.svg"></ion-img>
      <ion-img *ngIf="i === 1" class="podium" src="../../assets/groups/2.svg"></ion-img>
      <ion-img *ngIf="i === 2" class="podium" src="../../assets/groups/3.svg"></ion-img>
      <ion-label>
        <h2>{{ user.data.displayName }}</h2>
      </ion-label>
      <ion-badge *ngIf="user.compania" color="secondary">{{ user.compania.length }}</ion-badge>
      <ion-badge *ngIf="user.solitario" color="primary" class="ion-margin-horizontal">{{ user.solitario.length }}</ion-badge>
    </ion-item>

    <ion-item-options side="end">
      <ion-item-option (click)="deleteFriendGroup(user.id)" color="danger">
        <ion-icon slot="icon-only" name="trash"></ion-icon>
      </ion-item-option>
    </ion-item-options>

  </ion-item-sliding>
</ion-content>
