<app-header titulo="Solicitudes de amistad"></app-header>

<ion-content>
  <ion-searchbar
    placeholder="Buscar petición"
    (ionChange)="onSearchChange($event)"
    inputmode="text"
    animated
  ></ion-searchbar>

  <ion-item
    *ngFor="let user of friendService.requestFriend | filtro:textoBuscar:'email'"
    button
    (click)="showAlert(user)"
  >
  <ion-avatar slot="start">
    <img *ngIf="user.photoURL !== null" [src]="user.photoURL" />
    <img *ngIf="user.photoURL === null" src="../../assets/icon-user.svg" />
  </ion-avatar>
    <ion-label>
      <h2>{{ user.displayName }}</h2>
      <p text-wrap>{{ user.email }}</p>
    </ion-label>
    <ion-icon name="person-add" slot="end"></ion-icon>
  </ion-item>
  <div *ngIf="friendService.requestFriend.length === 0">
    <h5 class="ion-text-center">No hay ninguna solicitud de amistad</h5>
  </div>
</ion-content>
