<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button menu="first"></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Amigos
    </ion-title>
  </ion-toolbar>

  <ion-segment value="amigos" mode="md" color="secondary" (ionChange)="segmentChanged($event)" [(ngModel)]="segmentModel">
    <ion-segment-button value="amigos">
      Amigos
    </ion-segment-button>
    <ion-segment-button value="grupos">
      Grupos
    </ion-segment-button>
  </ion-segment>

</ion-header>

<ion-content [fullscreen]="true">
  <ng-container *ngIf="segmentModel === 'amigos'">
    <ion-item button (click)="addFriend()">
      <ion-icon slot="start" name="add-circle" color="secondary"></ion-icon>
      <ion-label>Añadir amigo</ion-label>
    </ion-item>
  
    <ion-item button (click)="requestFriend()">
      <ion-icon slot="start" name="people" color="primary"></ion-icon>
      <ion-label>Solicitudes de amistad</ion-label>
      <ion-badge color="secondary">{{ numberNotification }}</ion-badge>
    </ion-item>
  
    <ion-item-divider>
      <ion-label>
        Amigos agregados
      </ion-label>
    </ion-item-divider>
  
    <ion-searchbar placeholder="Buscar amigo"
                   (ionChange)="onSearchChange($event)"
                   inputmode="text"
                   animated
                   ></ion-searchbar>
    <ng-container *ngIf="friends.length != 0">
      <ion-list>
          <ion-item *ngFor="let user of friends | filtro:textoBuscar:'email'">
          <ion-avatar slot="start">
            <img *ngIf="user.photoURL !== null" [src]="user.photoURL" />
            <img *ngIf="user.photoURL === null" src="../../assets/icon-user.svg" />
          </ion-avatar>
          <ion-label>
            <h2>{{ user.displayName }}</h2>
          </ion-label>
          <ion-badge *ngIf="user.compania" color="secondary" class="ion-margin-horizontal">{{ user.compania.length }}</ion-badge>
          <ion-badge *ngIf="user.solitario" color="primary">{{ user.solitario.length }}</ion-badge>
        </ion-item>
      </ion-list>
    </ng-container>
  </ng-container>

  <ng-container *ngIf="segmentModel === 'grupos'">
    <ion-item button (click)="createGroup()">
      <ion-icon slot="start" name="add-circle" color="secondary"></ion-icon>
      <ion-label>Crear grupo</ion-label>
    </ion-item>
  
    <ion-item-divider>
      <ion-label>
        Grupos
      </ion-label>
    </ion-item-divider>
  
    <ion-searchbar placeholder="Buscar grupo"
                   (ionChange)="onSearchChange($event)"
                   inputmode="text"
                   animated
                   ></ion-searchbar>
    <ng-container *ngIf="groups && groups.length != 0">
      <ion-item *ngFor="let group of groups | filtro:textoBuscar" button (click)="editGroup(group)"
        >
        <ion-avatar slot="start">
          <img *ngIf="group.url_image" [src]="group.url_image" />
          <img *ngIf="!group.url_image" src="../../assets/groups/icon-group.svg" />
        </ion-avatar>
        <ion-label>
          <h2>{{ group.nombre }}</h2>
        </ion-label>
      </ion-item>
    </ng-container>
  </ng-container>

</ion-content>
