<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="amigos" href="/tabs/amigos">
      <ion-icon name="people-outline" aria-hidden="true"></ion-icon>
      <ion-label>amigos</ion-label>
    </ion-tab-button>

    <!-- Sumar es la tecla rosa del centro: la acción principal, siempre a un toque. -->
    <ion-tab-button tab="sumar" href="/tabs/sumar">
      <span class="f-tab-key" aria-hidden="true"><ion-icon name="add"></ion-icon></span>
      <ion-label>sumar</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="estadisticas" href="/tabs/estadisticas">
      <ion-icon name="stats-chart-outline" aria-hidden="true"></ion-icon>
      <ion-label>estadísticas</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
